/* Estilo del contenedor */
.skeleton-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.urban-heading {
    font-family: "Arial Black", sans-serif;
    color: #ff4500;
    margin-bottom: 20px;
    text-transform: uppercase;
}
